* {
    margin: 0%;
    padding: 0%;
    font-family: Neue Arial, Helvetica, sans-serif;
}

.containers {
    float: left;
    width: 79%;
    height: 100vh;
    /* background-color: black; */
    margin-left: 20%;

}

.main {
    display: inline-block;
    width: 68%;
    height: 100vh;
    background-color: white;
    float: left;

}

.headbar {
    margin: 1%;
    height: 160px;
    width: 705px;
    background-color: white;
    display: flex;
    overflow-y: hidden;

}

.headbar::-webkit-scrollbar {
    width: 25px;
    height: 2px;
}

.headbar::-webkit-scrollbar-thumb {
    background-color: #8080806b;
}

.headbar::-webkit-scrollbar-thumb:hover {
    background-color: skyblue;
}

.status {
    margin: 20px;
    display: inline-block;
    height: 100px;
    width: 100px;
    float: left;
    background-color: #f7f7f7;
    border-radius: 50%;
    border: 2px solid red;

}

.pp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* margin-left: -110px; */
}

.post {
    width: 75%;
    height: 600px;
    /* background-color: #f7f7f7; */
    border-radius: 5px;
    margin: 10%;
    border-bottom: 2px solid #dfdfdf;
    margin-bottom: 300px;
}

.head {
    height: 100px;
    width: 100%;
    /* background-color: #cdcd4b; */
}

.status1 {
    margin: 20px;
    float: left;
    height: 60px;
    width: 60px;
    background-color: #f7f7f7;
    border-radius: 50%;
    border: 2px solid red;
}

.pp1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.name {
    float: left;
    margin-top: 45px;
}

.more {
    float: right;
    font-size: 30px;
    margin-top: 20px;

}

.p1 {
    height: 320px;
    width: 100%;
}

.post1 {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.foot {
    height: 80px;
    width: 100%;
    /* background-color: #ffff63; */
    margin-top: 320px;

}

.logos1 {
    float: left;
    width: 35px;
    display: inline;
    margin: 30px 10px 0px 0px;
}

.logos2 {
    float: right;
    width: 35px;
    display: inline;
    margin: 30px 10px 0px 0px;
}

.lik {
    text-align: left;
}

#comment {
    font-size: 14px;
    border: transparent;
    border-bottom: 2px solid #dfdfdf;

}

.right {
    display: inline-block;
    width: 32%;
    height: 100vh;
    background-color: green
}